* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}



.main_section {
  min-height: 100vh;
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  box-shadow: 0px 0px 8px 1px black;
}

.registration_portal {
  text-align: center;
  padding: 0.75rem;
  line-height: 2rem;
}

.registration_form_container {
  padding: 2rem;
  width: 70%;
  margin: auto;


}

.registration_form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;

}

.competition_form {
  min-width: 75%;
  margin: auto;
  padding: 1.5rem;
  background-color: #c5cae941;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr;

}

.registration_form_container input[type="text"],
.registration_form_container input[type="email"],
.registration_form_container select {
  min-width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  outline: none;
}

.registration_form_container input::placeholder {
  font-size: 16px;
}


.registration_form_container input[type="text"]:hover,
.registration_form_container input[type="email"]:hover,
.registration_form_container select:hover {
  box-shadow: 0px 0px 1px 2px #303f9f;
}

#team_name,
#team_email,
#competition_names,
#no_of_members {
  display: none;
}

#participant_form {
  display: grid;
  grid-gap: 1.75rem;


}

.member {
  background-color: #c5cae941;
  padding: 0.5rem;
  border-radius: 5px;
}

.participant_grid_1 {
  grid-template-areas: "member1";

}

/*  These 3 classes are selected from register.js file  */

.participant_grid_2 {
  grid-template-areas: "member1 member2";

}

.participant_grid_3 {
  grid-template-areas: "member1 member2"
    "member3 member3";

}

#member1 {
  grid-area: member1;
}

#member2 {
  grid-area: member2;
}

#member3 {
  grid-area: member3;
}

.reg_no_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0.5rem;
}

.register_btn_container {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
}

#register_btn:hover {
  background-color: rgb(15, 79, 197);
  box-shadow: 0px 0px 8px white;
}

/* model */
.model {
  display: none;
  background-color: red;
  width: 35%;
  grid-template-columns: 1fr;
  text-align: center;
  height: 250px;
  position: fixed;
  left: 33%;
  top: 25%;
}

.close {
  float: right;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.big-font {
  font-size: 4.5rem;
}

@media only screen and (max-width: 1024px) {
  .registration_form_container {
    padding: 1rem;
    width: 100%;
  }

  .participant_grid_3 {
    grid-template-areas:
      "member1 member2"
      "member3 member3";
  }
}

@media only screen and (max-width: 750px) {
  .participant_grid_3 {
    grid-template-areas:
      "member1"
      "member2"
      "member3";
  }
}

@media only screen and (max-width: 900px) {
  .competition_form {
    width: 85%;
    margin: auto;
  }

  .participant_grid_2 {
    grid-template-areas:
      "member1"
      "member2";
  }
}